=link_to('New Album', new_album_path, :remote => true, :class => 'button tiny radius')
#form
#albums
  = render :partial => 'albums/albums'

#bigbox
  ="this is a test to see if this actually works! "
  = "I don't have to keep deploying on heroku to make a simple sign up sheet!! Just run on localhost!"