.photo
{
  float: left;
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}


body
{
background-image:url('http://i1081.photobucket.com/albums/j359/shefalimusic/EmotitonesLogo111007.jpg');
background-repeat:no-repeat;
background-position: center top;
}