<footer class="row">
  <div class="large-12 columns">
        <h6 class='subheader'>&copy; <%= link_to("Beyond Sound Media", 'http://www.beyondsoundmedia.com', :target => '_blank') %> 2013</h6>
  </div>
</footer>