<footer class="row">
  <div class="large-12 columns">
        <h6 class='subheader'>&copy; Beyond Sound Media 2013 &nbsp;&nbsp;&nbsp; contact: &nbsp;<%= mail_to "hello@emotitones.com", "hello@emotitones.com"%></h6>
  </div>
</footer>