<div class="row">
  <div class="large-12.columns">
    <div class="nav-bar right">
     <ul class="button-group">
      </ul>
    </div>
    <ul class="button-group">
      <li><%= link_to('Home', root_path, :class => 'button medium') %></li>
      <li><%= link_to('Research', "http://www.scribd.com/doc/98494327/Emotitones-Thesis", :target => '_blank', :class => 'button medium') %></li>
    </ul>
  </div>
</div>